@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@200&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background: #ffffff;
    /* background-image: url("./assets/back.jpg"); */
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

@media screen and (max-width: 1000px) {
   .App{
       width: 100%;
   
   }
}